.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

.home-logo-container {
  padding: 20px 10px;
  border-radius: 10px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin: 40px 0 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  /* width: 100%; */
  z-index: 1000;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #fdd5d5;
}

.nav-link {
  color: #fdd5d5;
  text-decoration: none;
  padding: 10px 15px;
}
